[Unit]
Description=Python HTTPServer

[Service]
Type=simple
WorkingDirectory=/home/pi/http_json_db/
ExecStart=/usr/bin/python3 /home/pi/http_json_db/server.py
Restart=always

[Install]
WantedBy=multi-user.target