[Unit]
Description=Python HTTPServer

[Service]
Type=simple
WorkingDirectory=/home/pi/http_json_db/
User=pi
KillSignal=SIGCONT
ExecStart=/usr/bin/screen -DmS python-http-server python3 /home/pi/http_json_db/server.py 9693
ExecStop=/usr/bin/screen -p 0 -S python-http-server -X stuff '^C'
Restart=always

[Install]
WantedBy=multi-user.target